@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --color-blue-normal: #268BCA;
    --color-blue-light: #E9F3FA;
    --color-blue-light-hover: #DEEEF7;
    --color-blue-light-active: #BCDBEF;

    --color-grey: #333333;
    --color-grey-light: #F2F4F7;
    --color-grey-darker: #121212;

    --color-neutral: #191C1E;

    --color-dark: #0C0C0C;

    --color-gold: #FBBC04;


    /* fonts */
    --font-poltawski: "Poltawski Nowy", serif;
    --font-poppins: "Poppins", sans-serif;
}

* {
    /* border: 1px solid red; */
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poltawski-nowy {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.poppins {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.isCentered {
    @apply flex items-center justify-center;
}

::-webkit-scrollbar {
    width: 0px;
}